.k_checkout_main_container {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    font-family: var(--main-font-family);
}
.k_gpt_checkout_top_container {
    width: 70%;
}

.k_gpt_thank-you {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 15px;
        height: 57%;
    align-items: center;
    justify-content: center;
}

.k_gpt_checkout-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
 height: 82vw;

}

.k_gpt_checkout-container h3{
    font-size: 25px;
    font-weight: 800;
    font-family: var(--font-fm2);
}

.k_gpt_checkout-container p{
    font-size: 17px;
    color: #6b6262;
}

.k_gpt_checkout-container button{
    background-color: black;
    color: white;
        padding: 20px 141px;
        border-radius: 35px;
        font-size: 14px;
        font-weight: 700;
}



/* Responsive */
@media (max-width: 768px) {
    .k_gpt_checkout-container {
        flex-direction: column;
        position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: white;
           border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        justify-content: center;
        align-items: center;
        transform: translateY(500%);
          animation: slideUp 1s ease-out forwards;
    }
@keyframes slideUp {
  from {
    transform: translateY(500%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
    .k_gpt_section {
        flex: 1 1 100%;
    }
    .k_checkout_main_container {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .k_gpt_checkout_top_container {
        width: 100%;
              height: 185vw;
    }
   
}

@media (max-width: 1080px) { 
    .k_checkout_main_container {
       background-color: black;
       position: fixed;
       height: 100%;
       width: 100%;
    }


   .k_gpt_thank-you p {
        font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 2%;
    }
}
