@media screen and (max-width: 500px) {


  .image_overlay {
    padding: 43px;
    position: absolute;
    bottom: 2%;
    width: 100%;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    /* border-radius: 10px; */
    background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) 57.42%, #000000 99.9%);
  }

  .image_overlay4 {
    padding: 43px;
    position: absolute;
    bottom: 8%;
    width: 112px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    /* border-radius: 10px; */
    background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) 57.42%, #000000 99.9%);
  }


  .image_overlays {
    padding-inline: 47px;
    padding-block: 33px;
    position: absolute;
    bottom: 2%;
    width: 97%;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    /* border-radius: 10px; */
    background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) 57.42%, #000000 99.9%);
  }


  .image_overlays2 {
    padding-inline: 47px;
    padding-block: 99px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    /* border-radius: 10px; */
    background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) 57.42%, #000000 99.9%);
  }

  .product_section {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    padding-left: 2%;
    padding-block: 2%;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .image_overlay3 {
    padding-inline: 47px;
    padding-block: 99px;
    position: absolute;
    bottom: 10%;
    width: 100%;
    background: linear-gradient(179.87deg, rgba(0, 0, 0, 0) 41.02%, #000000 91.32%);

  }


  .color_overlay {
    background: linear-gradient(to bottom, #121211d4 37%, #f5e8ba 100%);
    width: 100%;
    padding: 19px;
    border-radius: 0%;
    position: absolute;
    bottom: 11%;
    z-index: 89;
    filter: blur(3px);
  }

  .trend_box h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #202020;
    letter-spacing: -0.21px;
  }

  .trend_box p {
    font-size: 25px;
    display: flex;
    margin-top: -1px;
    font-weight: 700;
  }


  .trend_box>span {
    line-height: 41px;
    line-height: 41px;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-fm2);
    vertical-align: middle;
    display: flex;
    text-emphasis: "";
    align-self: anchor-center;
  }



  /* mid_banner */

  .mid-banner {
    margin-top: 8px;
    position: relative;
  }


  .mid-banner img {
    width: 100%;
    height: 448px;
    object-fit: cover;
    object-position: top;
  }

  .mid_banner_info {
    display: flex;
    align-items: end;
    justify-content: space-around;
    position: absolute;
    bottom: 19%;
    color: white;
    width: 100%;
  }

  .info_text h3 {
    font-size: 22px;
    font-weight: 900;
    font-family: var(--font-fm2);
  }

  .info_text h4 {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-fm2);
  }

  .info_text p {
    font-size: 10px;
    font-weight: 500;
    font-family: var(--font-fm2);
  }

  .info_button button {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-fm2);
    border-radius: 6px;
  }

  /* banner product */



  /* banner mid02 */
  .banner_mid02 {
    background: url('/assets/images/yellow\ bg.png');
    padding: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
  }

  .banner_mid03 {
    background: url('/assets/images/banner\ mid2\ bg.png');
    padding: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
  }

  .banner_mid02 img,
  .banner_mid03 img {
    aspect-ratio: 316 / 341;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    object-position: top;
  }




  .shopby_trend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scrollbar-width: none;
    gap: 12px;
    overflow: scroll;
    padding: 0px 0% 0px 3%;
  }

  .shopby_trend img {
    height: 274px;
  }


  .shopby_trend_title h4 {
    text-align: center;
    font-size: var(--txt-font-mobile);
    font-family: 'Poppins';
    font-weight: 600;
    padding-block: 3%;
  }



  .trending_title h2 {
    text-align: start;
    font-size: var(--txt-font-mobile);
    font-family: 'Poppins';
    font-weight: 600;
    padding-inline: 3%;
    margin-top: 10px;
  }

  .brand_box img {
    width: 123px;
    height: 201px;
    border-radius: 13px;
    object-fit: cover;
    object-position: top;
  }

  .brand_box {
    position: relative;
    margin-right: 4px;
    /* border: 2px solid; */
    border-radius: 8px;
    padding: 2px;
  }

  .brand_section {
    padding-left: 3%;
    display: flex;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
    padding-block: 2%;
  }

  .brand_box p {
    position: absolute;
    bottom: 6%;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    color: white;
  }



  .container {
    margin-bottom: 40px;
    display: none;
  }

  .cate_name {
    position: absolute;
    bottom: 1%;
    text-transform: capitalize;
    padding-block: 5%;
    width: 100%;
    font-weight: 500;
    font-family: var(--font-fm2);
    left: 2%;
    font-size: 12px;
    color: white;
    text-align: start;
    border-radius: 9px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }







  .Category-box {
    display: flex;
    align-items: baseline;
    margin-top: 12px;
    justify-content: flex-start;
    gap: 0px;
    height: 38vw;
    position: relative;
  }


  .Category-box .images {
    position: relative;


  }


  .tabs-container {
    padding-inline: 5%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border-bottom: 1px solid #eee; */
    flex-wrap: wrap;
    row-gap: 15px;
    width: 100%;
  }

  .tabs-container h2 {
    margin-right: auto;
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font-fm2);
  }

  .label-img2 {
    position: absolute;
    left: 11%;
    top: 0%;
    height: 36px;
    align-items: end;

  }

  .Category-box a {
    height: 100%;
    width: 100%;
    /* margin-right: 50px; */
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: baseline;
    gap: 0px;
  }

  .Category-box a {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 316px;
    position: relative;
  }

  #upper_banner_carousel .item {
    display: flex;
    justify-content: center;
  }

  #upper_banner_carousel .item .card img {
    width: 350px;
    object-fit: cover;
    object-position: top;
  }

  .Category-box h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: var(--font-fm2);

    /* gradient fill inside */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(153, 153, 153, 0.69) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* white border / outline */
    -webkit-text-stroke: 1px white;

    /* soft shadow */
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
  }




  .subcate_container {
    width: 100% !important;
    height: 100%;
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: start !important;
    align-items: center;
    padding: 0px 5% !important;

  }

  /*  */

  #slider-img {
    width: 100%;
    padding: 0px 0;
    /* background: #f8f8f8; */
    position: relative;
    margin-top: unset;
  }

  .subcat_box img {
    height: 100%;
    width: 100%;
    aspect-ratio: 8 / 8;
    object-fit: cover;
    max-width: 55px;
    border-radius: 50%;
  }

  .subcat_box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }



  .tabs-container h2 {

    font-size: var(--txt-font-mobile);
    font-family: 'Poppins';
    font-weight: 600;
    padding-block: 3%;

    font-size: var(--txt-font-mobile);
    font-weight: var(--txt-weight-mobile);
    text-align: center;
    /* margin-bottom: 10px; */
    font-family: var(--font-fm2);

  }

  .tabs-container {
    /* padding: unset; */
    margin: unset;
  }

  .tabs {
    display: none;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 10px;
    /* margin-top: calc(-34px - 8vh); */
    font-size: 14px;
    transform: translateX(-12px);
    scrollbar-width: thin;
  }


  /* budget section */

  .offer_label_text {
    position: absolute;
    font-size: 6px;
    text-wrap: wrap;
    color: white;
    width: 9px;
    left: 11%;
    font-weight: 700;
    line-height: 10px;
    top: 0;

  }

  .budget_section {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 2%;
    overflow: scroll;
    margin-bottom: 2%;
  }

  .budget_box img {
    width: 97px;
    height: 139px;
    object-fit: cover;
    object-position: top;
    border-radius: 9.76px;
  }

  .budget_box p {
    position: absolute;
    bottom: 3%;
    color: white;
    width: 41px;
    line-height: 13px;
    /* text-align: center; */
    left: 7%;
    font-size: 12px;
    font-weight: 700;
  }

  .budget_box #sp {
    font-size: 10px;
    font-weight: 500;
  }

  .budget_box {
    position: relative;
    width: max-content;
  }



  .trending_title {
    padding: 2% 0px;
  }


  .Subcategory-list {
    justify-content: flex-start !important;
  }




  /* Navigation buttons inside image area */
  .owl-theme .owl-nav.disabled+.owl-dots {
    width: fit-content;
    margin: 10px auto;
    background: #fff;
    height: 16px;
    padding: 0px 10px;
    border-radius: 0px !important;
    /* box-shadow: 0px 0px 10px 0px #fbad462f; */
  }

  .owl-theme .owl-dots .owl-dot span {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px 2px;
    background: #D9D9D9;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #828282;
    width: 11px;
    height: 5px;
    border-radius: 50px !important;
    transition: .5s;
  }

  .owl-theme .owl-dots .owl-dot.active span {
    position: relative;
  }

  .owl-theme .owl-dots .owl-dot.active span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00000049;
    border-radius: inherit;
    animation: activedots 4.7s linear;
  }

  .owl-prev {
    display: none !important;
  }

  .owl-next {
    display: none !important;
  }

.shape_label{
  width: 100%;
        border-width: 1px;
        transform: rotate(0deg);
        opacity: 1;
        position: absolute;
        z-index: 70;
        bottom: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.shape_label2{
            width: 100%;
        border-width: 1px;
        transform: rotate(0deg) translateX(-13px);
        opacity: 1;
        position: absolute;
        z-index: 70;
        bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
}

#main_banner_carousel .item .card img{
  height: 96vw;
  object-fit: cover;
  object-position: top;
}
.shape_label2 h4{
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: white;
  transform: rotate(-5deg);
}
.shape_label h4{
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: rgba(32, 32, 32, 1);
}

.banner_mid02 .shape_label img{
        width: 196px !important;
        height: 25px !important;
        /* top: 2889px; */
        border-radius: 0px !important;
}

.banner_mid02 .shape_label2 img{
      width: 177px !important;
        height: 41px !important;

        /* top: 2889px; */
        border-radius: 0px !important;
}

  .cate_box_group {
    display: flex;
    gap: 76px;
    align-items: center;
    padding-block: 3%;
    position: relative;
    top: 0%;
    /* padding-inline: 3%; */
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    padding-left: 40px;
    margin-bottom: 13px;
  }

  .cate_box img {
    width: 112px;
    aspect-ratio: 52 / 74;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
    /* aspect-ratio: 0 / 0; */
    height: 112px;
  }

  .cate_box p {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: white;
    letter-spacing: -0.21px;
    position: absolute;
    bottom: 5%;
  }


  /* faves section */

  .faves {
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
    overflow: scroll;
    scrollbar-width: none;
    gap: 15px;
  }


  .faves_box {
    height: 262px;
    width: 146px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .faves_info {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .faves_info h3 {
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: rgba(202, 19, 62, 1);
    background-color: white;
    width: 118px;
    height: 30px;
    font-family: var(--font-fm2);
    /* padding: 3px; */
    text-align: center;
    border-radius: 3px;
  }

  .faves_box h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    font-family: var(--font-fm2);
  }

  .faves_box p {
    font-size: 10px;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    font-family: var(--font-fm2);
  }


  .faves_box img {
    height: 262px;
    width: 146px;
    border-radius: 15px;
    object-fit: cover;
  }


  /* next_banner */

  .next_banner {
    background: linear-gradient(45deg, #ffd8d8, #ffeb3b45);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-block: 5%;
  }

  .next_banner img {
    width: 338px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
  }

}