
@media screen and (min-width: 501px) {
    body{
        display: none;
    }
    
}




@media screen and (max-width: 500px) {
    



.product_sections{
   display: flex;
        justify-content: flex-start;
        padding-left: 5%;
          padding-block: 5%;
        gap: 10px;
        overflow: scroll;
        scrollbar-width: none;
        position: relative;
        bottom: 9%;
        background: linear-gradient(180deg, #FFF5D3 0%, #DBC36E 100%);
        margin-bottom: -54px;
}

.product_sections .products img{
height: 178px;
width: 124px;
border-radius: 9px;
object-fit: cover;
position: relative;
}

.product_sections .products{
    position: relative;
}

.product_sections .products p{
           position: absolute;
        bottom: 3%;
        color: white;
        z-index: 67;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
        left: 6%;
}


    /* new product card */
    .product_section {
        display: flex;
        overflow: scroll;
        scrollbar-width: none;
        padding-left: 2%;
        gap: 10px;
            width: 100%;
    overflow: hidden;
    overflow-x: auto;
    justify-content: flex-start;
    }

    .product_card1 img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 161 / 167;
        object-position: top;
    }

    .product_card1 {
        width: calc(100% / 2.1 - 8px / 1);
        min-width: calc(100% / 2.1 - 8px / 1);
        border: 1px solid rgba(233, 233, 233, 1);
    }

    .product_info1 {
        padding-inline: 3%;
        padding-block: 2%;
    }

    .product_info1 .price-con {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .product_info1 h4 {
        font-size: 10px;
        font-weight: 500;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        width: 121px;
        height: 25px;
    }

    .product_info1 .price-box {
        display: flex;
        gap: 3px;
        align-items: center;
    }


    .product_info1 .selling-price {
        font-size: 11px;
        color: rgba(0, 0, 0, 1);
        font-weight: 700;
    }

    .product_info1 .mrp {
        font-size: 10px;
        text-decoration: line-through;
        color: rgba(112, 112, 112, 1);
    }

    .product_info1 .price-box .discount {
        font-size: 10px;
        color: rgba(1, 140, 32, 1);
        padding: unset;
    }

/* svg path {
  fill: red !important;
}

svg{
    fill: red;
} */
.wishlist-icon{
    position: absolute;
        background: white;
        z-index: 32;
        top: 2%;
        left: 80%;
        padding: 5px 4%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.wishlist-icon.active svg path{
  stroke: red !important;
  fill: red !important;
}


.wishlist-icons.active svg path{
  stroke: red !important;
  fill: red !important;
}
       /* product card second design */
.icon-with-label{
            position: absolute;
        top: 9px;
        left: 77%;
}
    .product-section {
        display: flex;
overflow: scroll;
        align-items: center;
        padding-inline: 10px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .product {
        width: 100%;
        min-width: calc(100% / 2 - 8px / 1);
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
        position: relative;
        background: #fff;
        padding: unset;
        border-radius: 5px;
    }


     .product img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
            aspect-ratio: 244 / 325;
    }


        
.product p {
color: rgba(0, 0, 0, 1);
    
    font-size: 13px;
    margin: 5px 0;
    line-height: 1.3;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 142px;
    font-family: var(--font-fm2);
    font-weight: 400;
    overflow: hidden;
       height: 33px;

}

.product h2 {
         font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
    line-height: 1.3;
    color: #000000;
    width: 137px;
    padding: 0px 3px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-family: var(--font-fm2);
}

.product h3 {
  color: #e91e63;
  font-size: 18px;
  margin: 5px;
          font-family: var(--font-fm2);
}



      .product-relative h1{
        font-size: var(--txt-font-mobile);
        font-weight: 600;
        padding-inline: 2%;
        padding-block: 5%;
        margin: unset;
        display: flex;
        text-align: center;
        align-items: center;
        font-family: "Poppins", sans-serif;
        gap: 10px;
        /* font-size: 26px; */
        justify-content: center;
    
      }

      
.price-container {
  display: flex;
  align-items: start;
  gap: 8px;
  flex-wrap: wrap;
  row-gap: 2px;

  font-family: Arial, sans-serif;
  line-height: 1.3;
          font-family: var(--font-fm2);
                  padding-block: 5%;
}
  .discount-label {

    background: rgba(3, 22, 88, 1);
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
    /* position: absolute;
    top: 10px;
    left: 10px; */
            font-family: var(--font-fm2);
    border-radius: 5px;
    font-weight: 500;
  }


    .price{
    display: flex;
    gap: 3px;
    font-size: 12px;
    flex-direction: row-reverse;
    align-items: center;
            margin-left: 3px;
  }

.old-pricepcs {
  color: rgba(151, 151, 151, 1);
font-weight: 400;
          font-family: var(--font-fm2);
          font-size: 12px;
}

.new-pricebpcs {
  color: rgba(39, 39, 39, 1);
  /* orange */
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
.old-price {
  color: #333;
  text-decoration: line-through;
  font-size: 16px;
          font-family: var(--font-fm2);
}

.new-price {
  color: #8a1344;
  /* orange */
  font-weight: bold;
  font-size: 16px;

          font-family: var(--font-fm2);
}



     
.icon-container {
  position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        height: 19px;
        width: 20px;
        border-radius: 23px;
        padding: 0px 3px;
        justify-content: center;
        background: white;
        opacity: 1;
        transition: opacity 0.3s 
ease, transform 0.3s 
ease;
        pointer-events: none;
}


.icon-label{
    display: none;
}

.icon-with-label.active i {
    background-color: #8a1344;
    color: white;
    transform: scale(1.1);
}

.icon-with-label i {
    width: 40px;
    height: 40px;
    background: #fff;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.3s 
ease;
    cursor: pointer;
}
}