*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.content{
    padding-inline: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    width: 328px;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: black;
    font-family: var(--font-fm2);
}

.content h1 span{
    color: rgba(253, 62, 117, 1);
}

.content p{
    color: rgba(124, 124, 124, 1);
    font-size: 15px;
    line-height: 22px;
}

.content button{
    background-color: rgba(0, 0, 0, 1);
    width: 335px;
    height: 61px;
    border-radius: 16px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    margin-top: 25px;
}

.log{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: 5%;
}
